<h1 mat-dialog-title>Criação de Categoria</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancelar</button>
</div>

<!-- <form>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="Titulo">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Descrição"></textarea>
    </mat-form-field>
  </div>
</form> -->
