.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(221, 221, 221);
}

.demo-row-is-clicked {
  font-weight: bold;
}

.table-box {
  padding: 15px;
}

.addBtn {
  position: fixed;
  bottom: 15px;
  right: 28px;
  z-index: 2;
}
