<!-- <router-outlet></router-outlet> -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sistema Votaçao</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <mat-list>
      <mat-list-item>
        <a routerLink="/votacao" style="text-decoration: none;">Votações</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/usuario" style="text-decoration: none;">Usuarios</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>